@page "/"

<PageTitle>CellAnaSys</PageTitle>

<h1 class="page-title">CellAnaSys</h1>
<p>
Welcome to Footprint Investigations' Cell Site Analysis Software Suite
</p>
<p>
    CellAnaSys is a case file management system for cell site data.
</p>
