
<div class="bg-light" id="sidebar-wrapper">
    <div class="sidebar-logo">
        <img class="img-fluid"   src="images/Logo.png" />
    </div>
    <div class="profile">
        <div class="profile-bg">
            <img class="img-fluid"  src="images/CellSites.png" />
        </div>
        <div class="profile-picture">
            <img class="img-fluid circle account-photo" src="images/CellSites.png" />
        </div>
    </div>
    <div class="menu list-group list-group-flush">
        <NavLink class="list-group-item list-group-item-action bg-light" href="/" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </NavLink>
        <NavLink class="list-group-item list-group-item-action bg-light" href="/apitest">
            <span class="oi oi-list-rich" aria-hidden="true"></span> API Test
        </NavLink>
        <NavLink class="list-group-item list-group-item-action bg-light" href="/caseoverview">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Cases
        </NavLink>
       
    </div>
</div>
